<section class="section">
  <div class="container">
    <h2 class="title">Edit Study Group</h2>
    <%= form_with scope: "event", url: event_path(@event["id"]), local:true, method: :put do |f| %>
      <div class="field">
        <%= f.label :name, class: "label" %><br />
        <%= f.text_field :name, class: "input", value: @event["name"] %>
      </div>
      <div class="field">
        <%= f.label :location, class: "label" %><br />
        <%= f.text_field :location, class: "input",   value: @event["location"] %>
      </div>
          <div class="field">
        <%= f.label :date, class: "label" %><br />
        <%= f.date_field :date, value: @event["date"], class: "input" %>
      </div>
      <div class="actions">
        <%= f.submit "Update Study Group", class: "button is-link"%>
      </div>
    <% end %>
  </div>
</section