<div class="container">
  <div class="section">
    <div class="columns">
    </div>
    <div class="columns is-variable is-8 is-multiline">
      <div class="column is-4 card">
  <header class="card-header">
    <p class="card-header-title">
      <%=@event["name"]%>
    </p>
    <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>
  <div class="card-content">
    <div class="content">
      Location: <%=@event["location"]%>
        <br>
        <% full_name  = RestClient.get("#{supabase_url}/rest/v1/profiles?id=eq.#{@event["creator_id"]}&select=full_name", {apikey: ENV['supabase_api_key'], Authorization: "Bearer #{ENV['supabase_api_key']}", Range: '0-9'})%>
        Creator: <%= JSON.parse(full_name.body).first["full_name"] %>
      <br>
      Date: <time datetime="2016-1-1"><%=@event["date"]%></time>
          <br>
          Attendees:
                     <%res = RestClient.get("#{supabase_url}/rest/v1/attendances?attended_event_id=eq.#{@event["id"]}&select=attendee_id", common_headers)%>

    <%gz = Zlib::GzipReader.new(StringIO.new(res.body))%>
    <%attendees = JSON.parse(gz.read)%>
          <ul>
 
      <% attendees.each do |attendee|%>
        <% full_name  = RestClient.get("#{supabase_url}/rest/v1/profiles?id=eq.#{attendee["attendee_id"]}&select=full_name", common_headers.merge({Range: '0-9'}))%>
        <li><%= JSON.parse(full_name.body).first["full_name"] %></li>
        <% end %>
          </ul>
    </div>
  </div>
</div>
