<div class="container">
  <div class="section">
    <div class="columns">
    </div>
    <div class="columns is-variable is-8 is-multiline">
      <div class="column is-4 card">
  <header class="card-header">
    <p class="card-header-title">
      <%=@event["name"]%>
    </p>
    <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>
  <div class="card-content">
    <div class="content">
      Location: <%=@event["location"]%>
        <br>
        <%full_name = profiles.find { |hash| hash["id"] == @event["creator_id"] }["full_name"]%>
        Creator: <%= full_name %>
      <br>
      Date: <time datetime="2016-1-1"><%=@event["date"]%></time>
          <br>
          Attendees:
    <%attendees = attendees_for_event(@event["id"])%>
          <ul>
      <% attendees.each do |attendee|%>        
       <%full_name = profiles.find { |hash| hash["id"] == attendee["attendee_id"] }["full_name"]%>
        <li><%= full_name %></li>
        <% end %>
          </ul>
    </div>
  </div>
</div>
