<section class="section">
  <div class="container">
    <h2 class="title">Sign up</h2>
    <%= form_with url: signup_path, local:true, method: :post do |f| %>
      <div class="field">
        <%= f.label :full_name, class: "label" %><br />
        <%= f.text_field :full_name, class: "input" %>
      </div>
      <div class="field">
        <%= f.label :email, class: "label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
      </div>
      <div class="field">
        <%= f.label :password, class: "label" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
      </div>
      <div class="actions">
        <%= f.submit "Sign up", class: "button is-link" %>
      </div>
    <% end %>
  </div>
</section>
